<h1>Non Released Stage Commits</h1>

  <% @git_commits.each do |git_commit| %>
   <table border=1 style="width: 600px">
    <tr><td colspan=3>Commit:</td></tr>
    <tr> 
      <td><%= git_commit.commit_stamp.to_datetime.to_formatted_s(:short)  %></td>
      <td><%= git_commit.sha[0..7] %></td>
      <td><%= git_commit.developer %></td>
    </tr>
    <tr>
      <td colspan=3><%= git_commit.message %></td> </tr>
    <tr>
     <td><a href="http://www.staging.uslegalforms.com" target:"_blank">Staging Preview</a></td>
     <td><a href="#<%=git_commit.sha%>" class="review_button" data-sha="#<%=git_commit.sha%>">Review</a></td>
    </tr>
  </table>
  <br>
  <%= render 'form', :git_commit => git_commit%>
  <% end %>

