<p id="notice"><%= notice %></p>

<p>
  <strong>Sha:</strong>
  <%= @stage_commit.sha %>
</p>

<p>
  <strong>Developer:</strong>
  <%= @stage_commit.developer %>
</p>

<p>
  <strong>Email:</strong>
  <%= @stage_commit.email %>
</p>

<p>
  <strong>Commit stamp:</strong>
  <%= @stage_commit.commit_stamp %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @stage_commit.approved %>
</p>

<p>
  <strong>Approver:</strong>
  <%= @stage_commit.approver %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @stage_commit.comment %>
</p>

<%= link_to 'Edit', edit_stage_commit_path(@stage_commit) %> |
<%= link_to 'Back', stage_commits_path %>
