<%= form_for(@stage_commit) do |f| %>
  <% if @stage_commit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stage_commit.errors.count, "error") %> prohibited this stage_commit from being saved:</h2>

      <ul>
      <% @stage_commit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sha %><br>
    <%= f.text_field :sha %>
  </div>
  <div class="field">
    <%= f.label :developer %><br>
    <%= f.text_field :developer %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :commit_stamp %><br>
    <%= f.text_field :commit_stamp %>
  </div>
  <div class="field">
    <%= f.label :approved %><br>
    <%= f.check_box :approved %>
  </div>
  <div class="field">
    <%= f.label :approver %><br>
    <%= f.text_field :approver %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
